
@tailwind base;
@tailwind components;
@tailwind utilities;

#emergencyModal {
    display: none; /* Hide by default */
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75); /* Dark background */
}
.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.modal-content {
    background-color: #ff4d4d; /* Red background */
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    color: white;
}
.modal-header, .modal-footer {
    border-color: #ff1a1a; /* Red border */
}
